html, body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

/*стили для заголовков общие*/

.block__header {
	font-size: 32px;
	font-weight: 600;
	margin-top: 0;
}

/*
		header styles
 */
.header {
	height: 40px;
	background-color: #1e1e1e;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 24px 80px;
	font-family: 'Open Sans', sans-serif;
}

.logo {
	display: flex;
	flex: 1;
}

.logo img {
	height: 40px;
}

.menu {
	display: flex;
	flex: 2;
	justify-content: flex-end;
}

.menu__link {
	text-decoration: none;
	border-bottom: 1px solid transparent;
	color: #ffffff;
	transition: .3s;
	font-size: 14px;
}

.menu__link.contact {
	text-transform: uppercase;
	background-color: #d70000;
	padding: 12px 16px;
}

.menu__link:hover {
	border-bottom: 1px solid #d70000;
	color: #d70000;
}

.menu__link.contact:hover {
	color: #fff;
}

/*
		styles for menu
 */
.topmenu {
	display: flex;
	align-items: center;
	position: relative;
}

.topmenu > li > a {
	margin: 0 0 0 32px;
	text-transform: uppercase;
	color: #FEFDFD;
}

/*
		styles for menu 2lvl
 */

.submenu {
	position: absolute;
	z-index: 5;
	background: #1e1e1e;
	border: 1px solid rgba(215, 0, 0, 0.51);
	visibility: hidden;
	opacity: 0;
	transform-origin: 0% 0%;
	transform: rotateX(-90deg);
	transition: .3s linear;
	top: 32px;
	margin-left: 32px;
}

.submenu li a {
	color: #ffffff;
	padding: 8px 0;
	display: block;
	text-decoration: none;
	margin: 8px 16px;
	border-bottom: 1px solid transparent;
	transition: .3s;
	font-size: 12px;
}

.submenu li a:hover {
	border-bottom: 1px solid #d70000;
	color: #d70000;
}

.menu li:hover > .submenu {
	transform: rotateX(0deg);
	visibility: visible;
	opacity: 1;
}

/*		main page styles    */
.main {
	display: flex;
	flex-direction: column;
	min-height: 450px;
}

.main__slider {
	display: flex;
	height: 100%;
	box-sizing: border-box;
}

.slick-slide {
	height: 90vh!important;
	background-size: cover!important;
}

.slick-initialized .slick-slide {
	display: flex!important;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.slide {
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	box-sizing: border-box;
	text-align: center;
}

.slide h1 {
	font-size: 6vh;
	font-weight: 300;
}

.slide h2 {
	font-size: 4vh;
	font-weight: 300;
	margin-top: 0;
}

.slide .menu__link {
	margin: 40px;
	padding: 20px 40px;
	font-size: 2vh;
	display: inline-block;
	font-weight: 400;
}

.slide .menu__link.contact.white {
	background-color: #ffffff;
	color: #1e1e1e;
}

.slide .menu__link.contact.black {
	background-color: #1e1e1e;
	color: #ffffff;
}

/*   тут менять можно фон для слайдов    */
.slide-first {
	height: 100%;
	background-size: cover;
	background: url("img/01_Senegal Hotel/01_Senegal Palm Beach Hotel 001 Lobby/01.jpg") center center no-repeat;
}

.slide-second {
	height: 100%;
	background-size: 100%;
	background: url("img/01_Senegal Hotel/01_Senegal Palm Beach Hotel 001 Lobby/02.jpg") center center no-repeat;
}

.slide-third {
	height: 100%;
	background-size: cover;
	background: url("img/01_Senegal Hotel/01_Senegal Palm Beach Hotel 001 Lobby/03.jpg") center center no-repeat;
}

.slide-fourth {
	height: 100%;
	background-size: cover;
	background: url("img/01_Senegal Hotel/01_Senegal Palm Beach Hotel 001 Lobby/05.jpg") center center no-repeat;
}

/*  контент главной страницы  */

.main__content {
	display: flex;
	padding: 20px 80px;
}

.content__img, .content__text {
	width: 50%;
	padding: 16px;
}

.content__img img {
	width: 100%;
}

.content__text h2 {
	padding-right: 10%;
}

.content__text p {
	font-weight: 400;
	font-size: 18px;
	padding-right: 10%;
}

.featured {
	padding: 20px 80px;
}

.featured .block__header, .specializations .block__header {
	text-align: center;
}

.featured__cards {
	display: flex;
	justify-content: space-between;
}

.featured__card {
	width: 30%;
}

.featured__card img {
	width: 100%;
}


/*		footer styles   */

.footer {
	background-color: #1e1e1e;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	font-family: 'Open Sans', sans-serif;
	flex: 0 0 auto;
}

.footer-first {
	display: flex;
	flex-wrap: wrap;
	padding: 32px 80px;
}

.footer__block {
	width: 25%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}

.footer__header {
	font-weight: 600;
	text-transform: uppercase;
	color: #ffffff;
}

.footer-list {
	display: flex;
	flex-direction: column;
	font-size: 13px;
}

.footer-list__link {
	display: block;
	max-width: 70%;
	text-decoration: none;
	border-bottom: 1px solid transparent;
	color: #ffffff;
	margin: 8px 0;
	transition: .3s;
}

.footer-list__link span {
	transition: .3s;
}

.footer-list__link:hover span {
	border-bottom: 1px solid #d70000;
}

.footer-list__link:hover svg {
	opacity: 1;
}

.footer-list__link:hover {
	transform: translateY(-2px);
}

.footer__social {
	display: flex;
}

.footer__social svg {
	height: 24px;
	fill: currentColor;
	margin-right: 32px;
	opacity: .7;
	transition: .3s;
}

.footer-second {
	background-color: #0f0f0f;
	display: flex;
	justify-content: center;
	color: #ffffff;
}

.copyright {
	font-size: 12px;
	text-align: center;
}

.copyright span {
	color: #d70000;
}

@media screen and (max-width: 768px) {
	.footer-first {
		padding-right: 32px;
		padding-left: 24px;
	}

	.footer__block {
		width: 50%;
	}
}

@media screen and (max-width: 500px) {
	.footer-first {
		padding-right: 32px;
		padding-left: 24px;
	}

	.footer__block {
		width: 100%;
		padding: 0;
	}

	.footer-list__link {
		max-width: none;
	}
}